<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}
</style>
</head>
<body>
  <h1>List vnptidc:</h1>
  <a th:href="@{/vnptidc-add}">Add vnptidc</a>
  <br />
  <br />
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <th:block th:each="listnavbarVNPTIDC : ${navbarVNPTIDC}">
      <tr>
        <td><p th:text="${listnavbarVNPTIDC.id}"></p></td>
        <td><p th:text="${listnavbarVNPTIDC.title}"></p></td>
        <td><a th:href="@{/vnptidc-view/} + ${listnavbarVNPTIDC.id}">View</a></td>
        <td><a th:href="@{/vnptidc-update/} + ${listnavbarVNPTIDC.id}">Edit</a></td>
        <td><a th:href="@{/vnptidc-delete/} + ${listnavbarVNPTIDC.id}">Delete</a></td>
      </tr>
    </th:block>
  </table>
</body>
</html>