<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}
</style>
</head>
<body>
  <h1>List InternetTV:</h1>
  <a th:href="@{/internet-tv-add}">Add InternetTV</a>
  <br />
  <br />
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <th:block th:each="listinternettv : ${navbarInternetTV}">
      <tr>
        <td><p th:text="${listinternettv.id}"></p></td>
        <td><p th:text="${listinternettv.title}"></p></td>
        <td><a th:href="@{/internet-tv-view/} + ${listinternettv.id}">View</a></td>
        <td><a th:href="@{/internettv-update/} + ${listinternettv.id}">Edit</a></td>
        <td><a th:href="@{/internettv-delete/} + ${listinternettv.id}">Delete</a></td>
      </tr>
    </th:block>
  </table>
</body>
</html>