<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<body>
<a th:href="@{/solutions-vnpt-add}">Add solutions</a>
<a th:href="@{/solutions-vnpt}">List solutions</a><br />
<h1>Edit solutions:</h1>
  <form th:action="@{/solutions-vnpt-update-save}" method="POST" th:object="${navbarSolutions}">
      Id: <input th:field="*{id}" readonly="true" /> <br/> <br/>
      Title: <input th:field="*{title}"/> <br/> <br/>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>